# Build tools
setuptools>=65.0
wheel>=0.38

# Flask and server
Flask==2.3.3
Werkzeug==2.3.7
gunicorn

# Image & video processing
opencv-python-headless==4.8.0.76
numpy==1.24.3
Pillow==10.0.0

# YOLO
ultralytics==8.0.195
